body {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.calculator {
    height: 500px;
    width: 410px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 20px;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    border: 5px outset;

}

.display {
    box-sizing: border-box;
    background-color: white;
    height: 100px;
    width: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    border-style: inset;
}

.opt-cont {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
}
.btn-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

button {
    height: 60px;
    width: 85px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 1px 1px 2px black;
    border: 2px outset;
}

.delete {
    font-size: 40px;
}