body {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.calculator {
    height: 500px;
    width: 410px;
    margin-top: 100px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 20px;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    border: 5px outset;

}

.display {
    box-sizing: border-box;
    background-color: white;
    height: 100px;
    width: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgb(214, 213, 213);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    border-style: inset;
}

.opt-cont {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
}
.btn-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

button {
    height: 60px;
    width: 85px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 1px 1px 2px black;
    border: 2px outset;
    background-color: rgb(196, 197, 197);
    border-radius: 10px;
}

button:active {
    background-color: white;
    border-color: white;
}

button.highlight {
    background-color: white;
    border-color: white;
}

.op-btn{
    background-color: rgb(233, 233, 101);
    border-color: rgb(233, 233, 101);
}

.equal-btn{
    background-color: rgb(38, 179, 38);
    border-color: rgb(38, 179, 38);
}

.clear-btn {
    background-color: rgb(233, 105, 101);
    border-color: rgb(233, 105, 101);
}

.digit-btn{
    background-color: whitesmoke;
    border-color: whitesmoke;
}
.delete-btn {
    font-size: 40px;
    background-color: rgb(243, 171, 38);
    border-color: rgb(243, 171, 38);
}
.signature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: 'Fascinate Inline', cursive;
    font-size: 25px;
}